<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/components/search-box.js"></script>
    <script src="../js/components/navbar.js"></script>
    <script src="../js/components/footer.js"></script>
</head>
<body>
    <navigation-bar></navigation-bar>
    <div style="height: 10vh;"></div>
    <div style="height: 90vh;">
        <h1>Título de página</h1>
        <h2> título de Seção</h2>
        <img src="exemplo.jpg" alt="Descrição da imagem">
        <figcaption>Fonte para Labels (label, figcaption, etc)</figcaption>
        <p>Corpo de textp</p>
    </div>
    <custom-footer></custom-footer>
</body>
</html>