.post {
    background-color: white;
    max-width: 80vw;
    margin: 20px auto;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px var(--box-shadow);
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
  }

.user-details {
    display: flex;
    flex-direction: column;
}

.ong-name {
    position: relative;
    top: 1vh;
    left: 3vw;
    color: var(--dark-text);
    font-size: 25px;
}

.profile-photo {
    position: relative;
    margin-left: 3vw;
    margin-top: 4vh;
    border-radius: 50%;
}

.form-tip {
    position: relative;
    left: 10vw;
    top: 0vh;
    bottom: 0vh;
    color: rgb(143, 141, 141);
    font-size: 15px;
}


.input1 {
    display: inline-block;
    margin-left: 10vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    height: 20vh;
    width: 80%;
    border: 1px solid gray;
    background-color: #f8f8f8;
    padding: 10px 2px;
    font-size: 16px;
    resize: none;
}

.input[type=button], input[type=submit], input[type=reset] {
    max-width: 20vw;
    min-width: 120px;
    background-color: #D9597B;;
    border: none;
    color: white;
    padding: 16px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 0vw;
    align-self: self-end;
    font-size: 20px;
  }
  