.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px var(--box-shadow);
    text-align: center;
    width: 80%;
    max-width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10vw;
    background-color: #fff;
}

.empty {
  text-align: center;
  align-items: center;
  align-content: center;
  width: 80%;
}

.image-container2 {
    justify-content: center;
    display: flex;
    flex-flow: column wrap ;
    max-width: 80vw;
}

.content-wrapper {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.image-container {
    position: relative;
    text-align: center;
    margin-top: 10vh;
}

.image-container2 {
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    position: relative;
    text-align: center;
}

.image-container img {
    width: 70vw;
    height: 80vh;
    object-fit: cover;
}

.image-container2 img {
    max-width: 20vw;
    min-width: 20vw;
    min-height: 40vh;
    max-height: 40vh;
    object-fit: cover;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }

.centered h1 {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 3rem; 
    margin: 0;
}

.text-two {
    position: absolute;
    top: 20%;
    left: 28%;
    background-color: #fff;
}

.text-two1 {
    position: absolute;
    top: 20%;
    left: 22%;
    background-color: #fff;
}

.text-two h3 {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 2rem;
}

.text-two1 h3 {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 2rem;
}


.square-one {
    margin-top: 1vh;
}

.square-two,
.square-three {
    margin-left: 3vw;
    margin-top: 1vh;
}

.text-one {
    position: relative;
    text-align: center;
    color: var(--dark-text);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.paragraph1, 
.paragraph2 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: -4vw;
    margin-bottom: 5vh;
    color: var(--dark-text);
}

.paragraph1 p {
    width: 30vw;
    color: var(--dark-text);
    font-size: 1.4rem;
    margin-left: 6vw;
}

.paragraph2 p {
    width: 30vw;
    color: var(--dark-text);
    font-size: 1.4rem;
    margin-right: -10vw;
}

.container {
    min-width: 90vw;
    max-width: 90vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 2fr 2fr;
    column-gap: 0vh;
    row-gap: 1vw;
}

.container img {
    width: 300px;
    max-height: 200px;
    object-fit: fill;
    margin-left: 1vw;
}

.last2 {
  align-items: center;
  align-content: center;
}

.last2 img {
    max-height: 45vh;
    min-height: 45vh;
    min-width: 30vw;
    max-width: 50vw;
    object-fit: cover;
    margin-left: auto;
    align-items: center;
    align-self: center;
}

.text-three,
.text-four {
    font-size: 1.2rem;
    text-align: center;
    color: var(--dark-text);
    float: bottom;
    max-width: 60vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.twitter-timeline {
    margin-left:8vw;
}


.finalp p {
    font-size: 1.2rem;
    color: var(--dark-text);
    margin-bottom: 20px;
    max-width: 60vw;
}

.text-one1 {
    position: relative;
    text-align: center;
    color: var(--dark-text);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0vh;
    margin-bottom: 4vh;
}

.container {
    margin-left: 30vw;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    background-color: var(--accent);
    max-width: 80vw;
    margin: 20px auto;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 5px var(--box-shadow);
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  
  .user-name {
    font-size: xx-large;
    font-weight: bold;
    color: var(--primary);
  }
  
  .post-time {
    font-size: small;
    color: var(--dark-text);
  }
  
  .post-text {
    font-size: large;
    line-height: 1.4;
    color: var(--light-text);
    margin: 0 15%;
  }
  
  .post-image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: auto 25%;
  }
  
  .post-image,
  .post-image-link {
    max-height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
    margin: 5px;
  }
  
  .post-actions {
    display: flex;
    margin: 10px 20%;
    justify-content: space-between;
  }
  
  .like-button,
  .comment-button,
  .share-button {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f2f5;
    display: flex
  }
  
  .like-button {
    color: var(--primary);
  }
  
  .comment-button {
    color: var(--dark-text);
  }
  
  .share-button {
    color: var(--dark-text);
  }
  
  .button-text {
    margin-left: 5px;
  }
