.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    border-radius: 5px;
    box-shadow: 0 0 15px var(--box-shadow);
    text-align: center;
    width: 80%;
    max-width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10vw;
    background-color: #fff;
}



.content-wrapper {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

.image-container {
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container2 {
    align-items: center;
    justify-content: space-around;
    display: inline-block;
    position: relative;
    text-align: center;
}

.image-container img {
    max-width: 96%;
    height: auto;
    align-self: center;
}

.image-container button {
    margin-left: -5vw;
    margin-right: auto;
    margin-top: 20px;
}

.image-container2 img {
    max-width: 100%;
    height: auto;
}

.image-container2 button {
    margin-left: -7vw;
    margin-right: 0;
    margin-top: 1vh;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered h1 {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 3rem; 
    margin: 0;
}

.text-two {
    position: absolute;
    top: 20%;
    left: 28%;
    background-color: #fff;
}

.text-two1 {
    position: absolute;
    top: 20%;
    left: 22%;
    background-color: #fff;
}

.text-two h3 {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 2rem;
}

.text-two1 h3 {
    color: var(--dark-text);
    font-weight: bold;
    font-size: 2rem;
}


.square-one {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.square-two,
.square-three {
    margin-left: 1vw;
    margin-top: 0vh;
}

.text-one {
    position: relative;
    text-align: center;
    color: var(--dark-text);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.paragraph1, 
.paragraph2 {
    display: flex;
    align-content: center;
    position: relative;
    margin-left: 0vw;
    margin-bottom: 5vh;
}

.paragraph1 textarea {
    width: 30vw;
    color: var(--dark-text);
    font-size: 1.4rem;
    margin-left: 5vw;
    margin-right: 0vw;
    height: 15vh;
}

.paragraph2 textarea {
    width: 30vw;
    color: var(--dark-text);
    font-size: 1.4rem;
    margin-right: 0vw;
    margin-left: 0vw;
    height: 15vh;
}

.container {
    min-width: 90vw;
    max-width: 90vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 2fr 2fr;
    column-gap: 0vh;
    row-gap: 1vw;
}

.container img {
    width: 300px;
    max-height: 200px;
    object-fit: fill;
    margin-left: 1vw;
}

.img {
    position: relative;
}

.img button {
    margin-left: -5vw;
    margin-right: auto;
    margin-top: 20px;
}


.text-three,
.text-four {
    font-size: 1.2rem;
    text-align: center;
    color: var(--dark-text);
    float: bottom;
    max-width: 70vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8vw;
    margin-right: 8vw;
}

.text-three textarea {
    width: 50vw;
    font-size: 1.2rem;
    height: 15vh;
}

.text-four textarea {
    width: 50vw;
    font-size: 1.2rem;
    height: 15vh;
}

.container1 {
    width: 80vw;
    margin-left: 0vw;
}



.twitter-timeline {
    padding-bottom: 10vh;
    max-height: 60vh;
    
}

.finalp {
    font-size: 1.2rem;
    color: var(--dark-text);
    margin-bottom: 20px;
}

.finalp button {
    display: block;
    margin-left: 28vw;
    padding: 14px 12vw;
}

.finalp textarea {
    width: 50vw;
    font-size: 1.2rem;
    height: 15vh;
}

.text-one1 {
    position: relative;
    text-align: center;
    color: var(--dark-text);
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0vh;
    margin-bottom: 4vh;
}


.form1 input {
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    height: 54px;
    font-size: 3rem;
    
}

.button {
    background-color: #D9597B;;
    border: none;
    color: white;
    padding: 14px 12px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    border-radius: 5px;
}